@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer{
  background-color: rgba(48, 38, 102, 0.908);
  color: aliceblue;
  padding: 1rem;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
  height: auto;
}

.margin{
  margin:30px;
}
.marginDetail{
  margin:30px 400px 0px 400px;
}

.padding{
  padding: 30px;
}

.paddingInput{
  padding: 4px 0px 2px 12px;
}

.imgCart{
  margin: 20px;
}

.imgDetail{
  margin-left: 270px;
}

.tittleMundoGamer{
  font-family: 'Anton', sans-serif;
}